.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffc107' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .nav-link:hover{
    font-weight: bold;
  }

  .nav-link:active{
    text-decoration: underline;
  }

  .jumbotron-background{
    background-image: url(/pictures/background_home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .menu-defilant{
    overflow: hidden;
  }

  .menu-defilant > :first-child{
    font-size: 1.2em;
    display: inline-block;
    animation: defilement-rtl 20s infinite linear;
  }

  @keyframes defilement-rtl {
    0% {
        transform: translate3d(-100%,0,0)
    }
    100%{
        transform: translate3d(210%,0,0);
    }
  }