*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffc107' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link:hover {
  font-weight: bold;
}

.nav-link:active {
  text-decoration: underline;
}

body {
  height: 90vh;
}

.accueil {
  background: url(/pictures/background_home_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.menu-defilant {
  overflow: hidden;
}

.menu-defilant > :first-child {
  font-size: 1.2em;
  display: inline-block;
  animation: defilement-rtl 20s infinite linear;
}

.menu-defilant > :first-child:hover {
  animation-play-state: paused;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(160%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* Page à propos */

/*Page menu*/

.background-menu {
  background: url(/pictures/background_menu.png);
  background-repeat: repeat;
}

/* Page pictures */

.background-pictures {
  background: url(/pictures/fond_ustensiles.png);
  background-repeat: repeat;
}
